
.footerContainer{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: rgb(7, 7, 7);
}
.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}