.Oneblog_Container{
    padding: 5rem 1rem; 
  
    width: 80%;
    margin: 4rem auto;
} 
.oneblog_info{
    display: flex;
    flex-direction: column;
}

.comments_container{
    margin: 5rem auto;
    width: 80%;

}

.displayComment form{
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.displayComment form input{
  width: 50vw;
}
.displayComment form button{
    justify-content: center;
    margin: 1rem auto;
    margin-left: 1rem;
    padding: .5rem;
    border-radius: .8rem;
    width: 11rem;
}

.box_comment{

    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-content: start;
    align-items: start;
}
.comment_list{
    width: 70vw;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    margin-left: -2rem;
}
.comment_list li{

    max-width: 20rem;
    margin: auto;
    word-wrap: break-word;
}
.titleComments{
    font-size: large;
   margin-left: 10rem;
}


@media screen and (max-width: 650px) {
    .titleComments{
        margin-left: 0rem;
    }
}