.a_addBlogs{
  text-decoration: none;
  color: white;
}
.a_addBlogs:hover{
  text-decoration: none;
  color: white;
}
.myBlogsTitle{
    margin: 4rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
input{
  padding: .5rem;
  width: 7rem;
  margin: 0 1rem;
  border-radius: .3rem;
}
.ToggableAddBlogs{
    border: none;
    margin: 0;
}

.formAdd{
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: rgba(0, 0, 0, 0.688);
  backdrop-filter: blur(20px);
  width: auto;
  height: 22rem;
  border-radius: 2rem;
}

/* BACK BUTTON */
.backButtonContainer{
    height: 2.3rem;
    padding-bottom: 2rem;
  }
  
  .backButton{
  
    color: white;
    width: 1rem;
    height: 1rem;
  }
  .formAdd{
    padding-top: 1.5rem;
  }
  .formAdd button{
    margin-top: .9rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .myblogs{
    margin-top: 2rem;
    margin-right: -1rem;
  }

@media screen and (max-width: 1280px) {
  .myblogs{
  margin-left: auto;
  margin-right: auto;
    }
}

@media screen and (max-width: 680px) {
    .myBlogsTitle{
        flex-direction: column;
        margin-bottom: 3rem;
        
    }
 
  }

@media screen and (max-width: 369px) {
    .myBlogsTitle{
        margin-left: .5rem;
    }

  }