.EntriesSection{
  margin-top: 2rem;
  border: 1px black solid;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.listEntries, li ,ul{
  margin-left: 0;
}

.healtcheckrating{
  align-items: center;
}
.typeIcon{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttonEntry{
  text-align: center;
}

.buttonEntry{
  width: 100%;
  display: flex;
  justify-content: center;
}