
.bodyContainer{
width: 83vw;
display: grid;
grid-template-columns: repeat(3, 1fr); 
margin-bottom: 10rem;
}

.blogContainer{
display: flex;
justify-content: center;
flex-direction: column;
border-radius: .3rem;
border: 2px solid white;
max-width: 26rem; 
margin-top: 1rem;
min-height: 25rem;

}


@media screen and (max-width: 1024px) {
    .bodyContainer{
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem;
      }

      .blogContainer{
        
      }
  }

  @media screen and (max-width: 715px) {
    .bodyContainer{
        grid-template-columns: repeat(1, 1fr); 
        gap: 1rem;
      }

      .blogContainer{
        margin: auto;
        width: 26rem;
      }
  }
  
  @media screen and (max-width: 620px) {
    .userInfo{
        width: 75vw;
    }
    .bodyContainer{
        margin-top: 1rem;
        height: 80vh;
        width: 90vw;
        margin-bottom: .5rem;
        overflow-y: auto;
        margin-left: -2rem;
      }
      .blogContainer{
        width: 18rem;
      }
  }

  
  @media screen and (max-width: 360px) {
    .userInfo{
        width: 68vw;
    }
    .bodyContainer{
        margin-left: -2.5rem;
      }
  }