body{
margin: 0 0 0 -1px;
}

h1{
  font-family: Cambria, Cochin, Georgia,  Times, serif;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 1px 2px 10px rgba(51, 255, 0, 0.5) ;
  padding: 1rem;
  border-radius: 1rem;
}
.note {
    color: rgb(14, 14, 14);
    padding-top: 5px;
    font-size: 15px;
    font-family: Cambria,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    font-weight: 500;
  }

  .error {
    color: red;
    background: lightgrey;
    font-size: 20px;  
    border:solid rgba(255, 0, 0, 0.423);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .userFormContainer{
    margin: 0 1rem 0 1rem;
  }
  .userForm{
    border: 3px solid transparent;
    box-shadow: 1px 2px 10px rgba(51, 255, 0, 0.8) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    padding: 2rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    margin: 5rem auto 1rem auto;
  }
  .userForm input{
    box-shadow:inset 0px 0px 5px rgba(51, 255, 0, 0.5) ;
   
  }
  .userForm div:nth-child(1){
    margin-top: 1rem;
  }
  .userForm button{
    border:transparent;

  }
button, form input{
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem;
  /* background-color: rgb(199, 252, 189); */
  font-size: large;
  border: transparent;
  box-shadow: 1px 2px 10px rgba(51, 255, 0, 0.7)
}

form input:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
  transform: scale(1.01);
}
button:active{
  transform: scale(0.99);
}

ul{
  list-style-type: none;
  
}

form {
display: flex;
justify-content: center;

}

.important_btn {
  display: flex;
  justify-content: center;
 
  
}
.important_btn button{
  padding: 1rem 30%;
  box-shadow: 1px 2px 10px rgba(51, 255, 0, 0.7) ;
  font-weight:lighter;
  border: transparent;

}

.important{
  border: solid rgba(0, 230, 0, 0.729);
  border-radius: 1rem;
  padding-left: 1rem;
}

.noteContent{
  margin: 0 1rem 5px -1rem;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.notimportant{
  background-color: rgba(254, 29, 29, 0.397);
}
.footer{
   display: flex;
   justify-content: center;
   flex-direction: column;  
   align-items: center;
   font-family: italic;
   font-weight: bold;
   color: green;
   background-color: rgba(0, 255, 0, 0.545);
   font-size: 16px;
  }
.footerUser{
    padding:2rem;
    margin: 0 auto 0 auto;
    margin-top: 2rem;
    margin: 0 -1rem -1rem -1rem;
}
.footerNotUser{
  margin-top: 9vh;
  height: 20vh;
  padding: 0 1rem 0 1rem;
}

.gotop{
  font-family: 'Courier New', Courier, monospace;
  margin: 2rem 0 3rem 0;
  border-radius: 50rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  color: black;
  transition: all .3s;
  background-color: white;
}
.gotop:hover{
  box-shadow: 1px 2px 12px rgba(51, 255, 0, 0.8) ;
  background-color: aliceblue;
 transform: scale(1.05);
 
}
.LogoutSesion{
  display: flex;
  justify-content: end;
  margin-top: -1.5rem;
}
.sesionclose{
 background-color: transparent;
 box-shadow: none;
 border: transparent;
  border-radius: 50rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  transition: all .3s;box-shadow: 1px 2px 8px rgba(51, 255, 0, 0.5) ;
    
}

  .addbutton{
    box-shadow: 1px 2px 8px rgba(51, 255, 0, 0.1) ;
    font-weight: bolder;
    border: transparent;
  }
