.formEntry{
  margin: auto;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: stretch;
  gap:.8rem;
  border: dotted  .5px;

}

.inputsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputsContainer label{
  margin-top: 1rem;
  width: 100%;
justify-content: start;
}

.inputsContainer input,select{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: .2rem 1rem;
  border: none;
  border-bottom: black dotted .3px;
}

.inputsContainer input:focus{
 
  outline: none;
  border-bottom: 1px solid rgb(29, 22, 235);
}

 select:focus{
  outline: none;
  background-color: none
}
.checkbox{
  display: grid;
  justify-items: center;
  align-items: center; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}

.checkbox input{ 
 margin-top: -1.05rem;
}

.ErrorForm{
  padding: .5rem;
  border: solid yellow;
  background-color: rgba(255, 255, 0, 0.697);
  border-radius: 1rem;
  font-size: small;
  font-weight: bolder;
  margin:.5rem ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.dischargeContainer,.OccupationalHealthcareContainer {
  margin-top: -1rem;
  border-radius: 1.5rem;
  border: solid .5px black;
  padding: 1.5rem;
}