.displayButton{
    display: none;
}
.logOutButton , .displayButton{
    width: 7rem;
    grid-column: 6 / 6;
    justify-self: end;

}

.logOutButton button , .displayButton button{   
    border: none;
    padding: 0 1rem;
    font-weight: normal;
}

.logOutButton button:hover, .displayButton button:hover{   
    color: #646cff;

}


@media screen and (max-width: 769px) {
    .logOutButton button{
        font-size: large;
        margin-top: 1.1rem;
    }
}

@media screen and (max-width: 720px) { 
    .logOutButton {
        display: none;
    }
    .LogoutView .displayButton{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem auto;
        margin-bottom: 0;
        height: 0;

    }
}